html {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  user-select: none;
}
#container {
  border: 2px solid black;
  max-width: 80vw;
  background-color:  grey;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: visible;
}
.tabs {
  display: flex;
  width: 100%;
  height: min-content;
  background-color: rgb(52, 52, 52);
}
.tab {
  padding: 1em;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 10%;
  margin: 0.2em;
}
.tab.active {
  padding: 1em;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 10%;
  margin: 0.2em;
  background: rgb(166, 166, 166);
}
#content {
  width: 100%;
  height: calc(90% - 4em);
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding: 1em;
}
.textbox{
  display: none;
  flex-grow: 1;
}
.textbox.active{
  display: block;
}